.mayor-container:before {
  content: url('images/mayor.svg');
}

.mayor-container {
  background-color: #92abd3;
}


.player-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.werewolf {
  background-color: #df9a99;
}

.seer {
  background-color: #c5e6ce;
}

.villager {
  background-color: #e6e4ae;
}

.secret-role {
  display: inline-flex;
  flex-direction: column;
  
  align-items: center;

  .card {
    width: 9.2rem;
    height: 12.75rem;
    margin-bottom: 1rem;
  }
  .card.werewolf {
    content: url('images/werewolf.svg');
  }
  .card.seer {
    content: url('images/seer.svg');
  }
  .card.villager {
    content: url('images/villager.svg');
  }

  .role-label {
    font-weight: bold;
  }
}

.player-info {
  margin-left: 0.5rem;
}
