$spacing: 0.5rem;

@mixin text1 {
  color: #ffcc6b;
  text-shadow: 0 0 0.1rem black;
}

form.login {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  margin: 1rem;

  tr:nth-child(3) {
    td {
      color: red;
      text-align: center;
      padding: $spacing;
    }
  }

  td {
    label {
      @include text1;
    }
    input {
      padding: 0;
      margin: 0 $spacing;
    }
  }

  > input {
    margin: 0.1rem 0;
    flex-grow: 1;
  }
}

html {
  min-height: 100%;
}

body {
	background: linear-gradient(135deg,#331f7b,#cbc5df);
	margin: 0;
	display: flex;
	justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 0.2rem blueviolet;
  .playername, .roomname {
    margin: $spacing;
  }
}

.teamnames, .waitingnames {
  @include text1;
  padding: $spacing;
}

.waitingnames {
  color: #ff6b6b;
}

.startbutton {
  display: flex;
  justify-content: center;
  padding: $spacing;
  margin-bottom: $spacing;
}

@mixin container {
  background-color: #2b29264f;
  color: #f3e6ff;
  border: 1px solid #e0beff;
  padding: $spacing;
}

.settings-container {
  @include container;
  display: flex;
  justify-content: space-around;
}

.setting {
  display: flex;
  flex-direction: column;
  :first-child {
    font-weight: bold;
  }
  label {
    color: #e0beff;
    input {
      position: relative;
      top: 0.2rem;
      margin-right: 0.5rem;
    }
  }
  div:last-child {
    margin: $spacing;
  }
}

.setting.numwerewolves {
  align-items: center;
}

.invite-link-message {
  @include text1;
  padding: $spacing;
}

.invite-link {
  display: flex;
  align-items: stretch;
  padding-left: $spacing;
  padding-right: $spacing;
  input {
    flex-grow: 1;
  }
  button {
   font-family: symbola;
  }
}

.player-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1rem;

  &.villager { background-color: #e6e4ae; }
  &.werewolf { background-color: #df9a99; }
  &.seer     { background-color: #c5e6ce; }
  &.mayor    { background-color: #bae1bc; }
  &.werewolf-mayor {
    background: linear-gradient(
      to bottom right,
      #bae1bc,
      #df9a99
    );
  }
  &.seer-mayor {
    background: repeating-linear-gradient(
      -45deg,
      #bae1bc 0px,
      #bae1bc 25px,
      #c5e6ce 25px,
      #c5e6ce 50px
    );
  }
}

.role {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .card {
    &.regular {
      width: 9.2rem;
      height: 12.75rem;
      margin-bottom: 1rem;
    }
    &.special {
      width: 6.9rem;
      height: 9.56rem;
      margin: 0 0.25rem 0.5rem 0.25rem;
    }

    &.villager { content: url('images/villager.svg'); }
    &.werewolf { content: url('images/werewolf.svg'); }
    &.seer     { content: url('images/seer.svg'); }
    &.mayor    { content: url('images/mayor.svg'); }
  }

  .special-mayor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .role-label {
    font-weight: bold;
    text-align: center;
  }
}

.player-info {
  margin-left: 0.5rem;
}

.secret-message {
  font-style: italic;
}

.secret {
  font-weight: bold;
  display: inline;
}

.connection-error {
  background-color: red
}

.countdown {
  display: flex;
  align-items: center;

  .countdown-label {
  }
  .countdown-value {
    font-size: 200%;
  }
}

.results-container {
  @include container;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: $spacing;
}

.results-title {
	font-size: 150%;
	margin-bottom: $spacing;
}

.results {
  margin: $spacing;
  div {
    margin-bottom: 0.2rem;
  }
}

ul.vote-results-container {
  padding: 0 $spacing;
  margin: $spacing;
}
