.mayor-container {
  display: flex;
  flex-direction: row;
}

.mayor-container:before {
  content: url('images/mayor.svg');
  width: 9.2rem;
  height: 12.75rem;
  display: inline-block;
  margin: 1rem;
  background-color: floralwhite;
}

.mayor-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}